<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR Translation</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4 text-center">OCR Translation</h1>
        
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Choose Image File:</label>
                <input type="file" class="form-control-file" id="file" name="file" accept="image/*">
            </div>
            
            <div class="form-group">
                <label for="target_language">Select Target Language:</label>
                <select class="form-control" id="target_language" name="target_language">
                    {% for language in language_data.languages %}
                        <option value="{{ language.language }}">{{ language.name }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <button type="submit" class="btn btn-success">Upload and Translate</button>
        </form>

        
        <div class="text-center mt-4">
            <a href="../../Frontend/HomePage/homepage.html" class="btn btn-danger">Return to Home</a>
        </div>
    </div>
</body>
</html>


